body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #0a0a23;
  color: #e0f7ff;
}

header, footer {
  background-color: #0d1b2a;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #66fcf1;
}

nav a:hover {
  color: #ffffff;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

.project, .about, .contact, .intro {
  background-color: #1b2a49;
  padding: 1rem;
  border-radius: 8px;
}


.intro {
  border-left: 5px solid #66fcf1;
}
